/* Start of the overrides */

h1, h2, h3 {
  font-weight: bold;
  color: #24355a
}

section#themo_page_header_1{background-color:#009dd5;}

.float-content {
    padding: 0px;
}

#themo_tour_1 {
  border-bottom: 5px solid #D9D9D9;
}

.light-text .page-title h1 {
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
}

.page-title h4 {
  font-size: 12px;
  font-weight: 600;
  padding: 20px 0 0;
}

.page-title-legend{
  padding: 15px 0 0;
  font-size: 10px;
}

.page-title-button .btn {
  padding: 10px 60px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
}

.page-title.centered {
    padding: 60px 32%;
}

@media only screen and (max-width: 768px) {
  .page-title.centered {
    padding: 0;
  }
}


.navbar .navbar-nav > li > a {
  color: #009dd6;
}

.menu-sign-up-login {
  font-size: 10px;
}

.navbar .navbar-nav > li.menu-sign-up-login > a {
  color: #266bae;
}

.platform-arrow, .title-container {
  display: inline-block;
  vertical-align: middle;
}

.platform-arrow {
  position: relative;
  border-left: 3px solid #7fafd4;
  height: 150px;
  width: 12px;
}

.platform-arrow::before {
  width: 1px;
  height: 100%;
  background-color: #7fafd4;
}

.platform-arrow .white-triangle {
  position: absolute;
  top: 48%;
  left: -3px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid white;
  z-index: 6;
}

.platform-arrow .triangle {
  z-index: 5;
  position: absolute;
  top: 47%;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #7fafd4;
}

.title-container {
  margin-left: 20px;
  width: 85%;
}

.title-container h1 {
  font-size: 60px;
  font-size: 50px;
  line-height: 50px;
}


@media only screen and (max-width: 768px) {
  .platform-arrow {
    display: none;
  }
  .title-container h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

#customers p {
  font-size: 12px;
}

#customers .btn {
  padding: 10px 60px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
}

#vertical-image {
  display: none;
}

@media only screen and (max-width: 768px) {
  #horizontal-image {
    display: none;
  }

  #vertical-image {
    display: block;
  }
}

.quote blockquote.blockquote-1 {
  margin-left: 150px;
  font-size: 12px;
  font-style: normal;
  margin-bottom: 5px;
}

.quote figcaption.figcaption-1 {
  margin-left: 150px;
  font-size: 14px;
  font-weight: bold;
}

.quote figcaption.figcaption-1 span {
  font-weight: normal;
  font-size: 12px;
}

.quote img {
  top: 25px;
  position: absolute;
  width: 120px;
}

@media only screen and (max-width: 768px) {
  .quote {
    padding: 0;
  }
  .quote img {
    top: 0;
    width: 80px;
  }
  .quote blockquote.blockquote-1 {
    margin-left: 100px;
  }
  .quote figcaption.figcaption-1 {
    margin-left: 100px;
  }
}

section#themo_html_3{background-color:#009dd5;}

#themo_html_3 {
  padding-bottom: 0;
}

#themo_html_3 p {
  margin-bottom: 0;
}

#themo_html_3 h1 {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 38px;
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  #themo_html_3 h1 {
    padding: 0;
  }

  #themo_html_3 img {
    display: none;
  }
}

#themo_html_4 .section-header p {
  font-size: 12px;
}


#ptp-8946 div.ptp-dg6-cta {
  color: white;
  background-color: #efa735;
  border-radius: 20px !important;
  border: none;
  height: 40px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-left: auto;
  margin-right: auto;
  width: 165px;
  margin-top: 50px;
}

#ptp-8946 div.ptp-dg6-highlight {
  background-color: #005fa9 !important;
  box-shadow: none !important;
  padding-bottom: 20px;
}

#ptp-8946 .ptp-dg6-highlight div.ptp-dg6-bullet-item:nth-of-type(2n+1),
#ptp-8946 .ptp-dg6-highlight div.ptp-dg6-bullet-item:nth-of-type(2n),
#ptp-8946 div.ptp-dg6-highlight header.ptp-dg6-pricing-header {
  background-color: #005fa9 !important;
}

@media only screen and (max-width: 768px) {
  #ptp-8946 header.ptp-dg6-pricing-header {
    background-color: transparent !important;
  }
  #ptp-8946 div.ptp-dg6-highlight.selected header.ptp-dg6-pricing-header h2,
  #ptp-8946 div.ptp-dg6-highlight.selected header.ptp-dg6-pricing-header span {
    color: white !important;
  }
}

#themo_html_5 .section-header h2 {
  font-size: 38px;
  line-height: 45px;
}

#themo_html_5 .row:nth-child(2) .col-md-3 > div:first-child,
#themo_html_5 .row:nth-child(2) .col-md-4 > div:first-child {
  height: 100px;
}

#themo_html_5 .row:nth-child(2) .col-md-3 > div:first-child img,
#themo_html_5 .row:nth-child(2) .col-md-4 > div:first-child img {
  width: 140px;
}

#themo_html_5 .shadowMask {
  content: '';
  background-color: #005FA9;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  top: 0px;
}


#themo_call_to_action_1 .row {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #e5f5fb;
}

#themo_call_to_action_1 .themo-action-text span {
  color: #24355a;
  font-weight: bold;
}

#themo_call_to_action_1 .btn {
  border: none;
  background-color: #efa735;
  border-radius: 20px !important;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #themo_call_to_action_1 .row {
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
  }
}

.footer, .footer-btm-bar{
  background-color: #24355a;
}

.footer h3{
  font-size: 14px;
}

.footer a{
  font-size: 12px;
}

.footer .textwidget p {
  font-size: 12px;
}
